table {
    border-collapse: collapse;
    width: 100%;
}

.m-table{
    display: flex;
    flex-direction: column;
}

.m-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    width: 200px;
    height: 25px;
    padding: 5px;
}

